[Unit]
Description=Start byedpi service at boot
After=network-online.target
Wants=network-online.target

[Service]
Type=forking

ExecStart=/usr/bin/bash -c '/usr/local/bin/byedpictl tun start'
ExecStop=/usr/local/bin/byedpictl tun stop
ExecReload=/usr/local/bin/byedpictl tun restart

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
